@import '../../styles/vars.module.scss';

.navWrapper {
  display: flex !important;
  flex-direction: row !important;
  padding: 0 2rem;

  .logo {
    color: #ffb74d;
    font-size: 2.1rem;
    padding: 0;
    cursor: pointer;
  }

  .userBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0;
    padding-right: 2rem;

    .imgBox {
      height: 100%;
      width: 34px;
      margin-right: 1rem;
      background-color: orange;
      font-size: 23px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      img {
        width: 34px;
        height: 34px;
        border-radius: 50%;
      }
    }

    .name {
      font-size: 14px;
      -webkit-text-stroke: 0.1px gold;
      -webkit-text-fill-color: yellow;
      cursor: pointer;
    }
  }

  .exit {
    a {
      display: flex;
      align-items: center;

      .exitText {
        margin-left: 4px;
      }
    }
  }
}
